body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 1800px;
  height: 800px;
  margin-top: 70px;
  background: rgb(4, 68, 4);
  border-radius: 4px;
}

.openCardBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 40px;
  width: 90%;
  height: 300px;
}

.cardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 220px;
}

.deckCardBox {
  width: 180px;
  height: 220px;
  border: 1px solid gold;
  right: 0;
  position: relative;
}

.card {
  text-align: center;
  line-height: 220px;
  width: 160px;
  height: 200px;
  border: 1px solid red;
}

.deckCard {
  position: absolute;
  text-align: center;
  line-height: 220px;
  width: 160px;
  height: 200px;
  background: rgb(247, 244, 244);
  border: 1px solid rgb(190, 190, 190);
  bottom: -320px;
  right: 800px;
  opacity: 0;
}

.potContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  height: 80px;
  margin-bottom: 20px;
  color: rgb(179, 12, 250);
  font-weight: 800;
  font-size: 22px;

  & > div:first-child {
    margin-bottom: 8px;
  }
}

.btnBox {
  position: absolute;
  bottom: -40px;
}

.playerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  flex: 1;
  margin-bottom: 20px;

  & > .playerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid yellow;
    width: 440px;
    height: 100%;
    
    & > .cardContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      flex: 1;
    }

    & > .betBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 80px;
      flex-direction: column;
      color: white;

      & > div:first-child {
        display: flex;
        width: 100%;

        & > .player_betBox {
          text-align: right;
          width: 200px;
          line-height: 40px;
          padding-right: 8px;
          height: 40px;
          margin-right: 8px;  
          margin-left: 4px;
          border: 1px solid red;
        }

        & > .player_moneyBox {
          flex: 1;
          text-align: right;
          line-height: 40px;
          height: 40px;
          padding-right: 8px;
          margin-right: 4px;  
          border: 1px solid red;
        }
      }

      & > div:nth-child(2) {
        line-height: 40px;
      }
    }
  }
}

.delaer, sb, bb {
  position: absolute;
}

/* @keyframes open1 {
  from {
    bottom: 51px;
    right: 21px;
    opacity: 1;
  }
  to {
    bottom: 39px;
    right: 1428px;
    opacity: 1;
  } 
} */

.betTitle {
  position: absolute;
  top: 0;
  color: aqua;
  font-size: 20px;
  font-weight: 800;
}

@keyframes betTitleAni{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pair {
  position: absolute;
  text-align: right;
  padding-right: 4px;
  width: 84px;
  top: 0;
  left: -92px;
  font-size: 20px;
  color: white;
  font-weight: 800;
}