.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 1800px;
  height: 800px;
  margin-top: 70px;
  border: 1px solid red;
}

.openCardBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 40px;
  width: 90%;
  height: 300px;
}

.cardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 220px;
  border: 1px solid red;
}

.deckCardBox {
  width: 180px;
  height: 220px;
  border: 1px solid gold;
  right: 0;
  position: relative;
}

.card {
  text-align: center;
  line-height: 220px;
  width: 160px;
  height: 200px;
  border: 1px solid red;
}

.deckCard {
  position: absolute;
  text-align: center;
  line-height: 220px;
  width: 160px;
  height: 200px;
  background: rgb(247, 244, 244);
  border: 1px solid rgb(190, 190, 190);
  bottom: -320px;
  right: 800px;
  opacity: 0;
}

.potContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  width: 90%;
  height: 80px;
  margin-bottom: 20px;
}

.btnBox {
  position: absolute;
  bottom: -40px;
}

.playerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  flex: 1;
  margin-bottom: 20px;
  border: 1px solid red;

  & > .playerBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    width: 440px;
    height: 100%;
  }
}
/* @keyframes open1 {
  from {
    bottom: 51px;
    right: 21px;
    opacity: 1;
  }
  to {
    bottom: 39px;
    right: 1428px;
    opacity: 1;
  } 
} */